<div class="container">
    <h2>Excluir Produto</h2>
    <div class="product-info">
        <img src="assets/Images/yas.jpeg" alt="Produto X" class="product-image">
        <h3>Produto: <span class="product-name">Produto X</span></h3>
        <p>Tem certeza de que deseja excluir este produto?</p>
        <p>Essa ação não pode ser desfeita.</p>
    </div>
    <div class="actions">
        <button class="btn btn-confirm">Confirmar Exclusão</button>
        <button class="btn btn-cancel">Cancelar</button>
    </div>
</div>