<div class="product-details-container">
  <div class="product-images">
    <!-- Imagem Principal -->
    <img
      id="main-image"
      [src]="product.images[0].imageUrl"
      alt="Produto Principal"
      class="main-image"
    />

    <!-- Miniaturas -->
    <div class="thumbnail-images">
      <img
        *ngFor="let image of product.images.slice(1); let i = index"
        [src]="image.imageUrl"
        alt="Imagem Miniatura {{ i + 1 }}"
        (click)="swapImages($event)"
        [class.active]="i === 0"
      />
    </div>
  </div>

  <!-- Informações do Produto -->
  <div class="product-info">
    <h2>{{ product.name }}</h2>
    <p class="brand">Loja Oficial Apple</p>
    <p>{{ product.description }}</p>

    <div class="price">
      <span class="original-price">R$ 12.999</span>
      <span class="discounted-price">R$ {{ product.price }}</span>
      <span class="discount">51% OFF</span>
    </div>

    <div class="installments">
      ou 10x de R$ {{ (product.price / 10) }} sem juros
    </div>

    <button class="btn btn-buy" (click)="buyNow()">Comprar agora</button>
    <button class="btn btn-cart" (click)="addToCart()">Adicionar ao carrinho</button>

    <div class="shipping-info">
      <p>Chegará grátis amanhã para sua primeira compra</p>
      <p>
        Estoque disponível • Enviado pelo
        <span class="badge">FULL</span>
      </p>
    </div>
  </div>
</div>
