<div class="product-details-container">
    <div class="product-images">
      <img [src]="product.imageUrl" alt="Produto Principal" class="main-image" id="main-image">
      <div class="thumbnail-images">
        <img src="assets/Images/yas.jpeg" alt="Imagem Miniatura 1" (click)="swapImages($event)">
<img src="assets/Images/yas.jpeg" alt="Imagem Miniatura 2" (click)="swapImages($event)">
<img src="assets/Images/pago.jpg" alt="Imagem Miniatura 3" (click)="swapImages($event)">

      </div>
    </div>
  
    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p class="brand">Loja Oficial Apple</p>
      <p>{{ product.description }}</p>
  
      <div class="price">
        <span class="original-price">R$ 12.999</span>
        <span class="discounted-price">R$ {{ product.price }}</span>
        <span class="discount">51% OFF</span>
      </div>
  
      <div class="installments">
        ou 10x de R$ {{ (product.price / 10)}} sem juros
      </div>
  
      <div class="color-options">
        <label for="color">Cor:</label>
        <select id="color">
          <option>Cinza Espacial</option>
        </select>
      </div>
  
      <button class="btn btn-buy" (click)="buyNow()">Comprar agora</button>
      <button class="btn btn-cart" (click)="addToCart()">Adicionar ao carrinho</button>
  
      <div class="shipping-info">
        <p>Chegará grátis amanhã para sua primeira compra</p>
        <p>Estoque disponível • Enviado pelo <span class="badge">FULL</span></p>
      </div>
    </div>
  </div>
  