<div class="user-profile">
    <h1>Cadastrar ususário</h1>
    <p>Insira suas credenciais.</p>
    <label for="name">CEP</label>
    <input
        type="text"
        id="cep"
        name="cep"
        placeholder="seu CEP"
    >
    <label for="neighborhood">Bairro:</label>
    <input
        type="text"
        id="neighborhood"
        name="neighborhood"
        placeholder="Seu email"
    >
    <label for="street">Rua:</label>
    <input
        type="text"
        id="street"
        name="street"
        placeholder="Sua Rua"
    >
    <label for="number">Número:</label>
    <input
        type="text"
        id="number"
        name="number"
        placeholder="Sua Número"
    >
    <label for="city">Cidade:</label>
    <input
        type="text"
        id="city"
        name="city"
        placeholder="Sua Cidade"
    >
    <label for="state">Estado:</label>
    <input
        type="text"
        id="state"
        name="state"
        placeholder="Sua Estado"
    >
    <label for="Complement">Complemento:</label>
    <input
        type="text"
        id="Complement"
        name="Complement"
        placeholder="Sua Complemento"
    >

    <div class="justify-align-center">
        <button type="submit">Cadastrar</button>
    </div>
</div>