<div *ngIf="pixInfo.status === 'approved'" class="payment-approved-animation">
  <div class="payment-approved">
    <span class="payment-status">Pagamento Aprovado!</span>
    <img src="assets/Images/pago.jpg" alt="Pago" class="payment-icon">
  </div>
</div>


<div *ngIf="pixInfo.status !== 'approved'">
  <div class="qr-code-container">
    <img [src]="pixInfo.qrCodeBase64" alt="QR Code" class="qr-code">
  </div>
</div>

<div class="pix-payment-container">
    <h1 class="product-title">{{ pixInfo.description }}</h1>
    
    <div class="qr-code-container">
      <img src="data:image/png;base64,{{pixInfo.qrCodeBase64}}" alt="QR Code" class="qr-code-image"/>
    </div>
    
    <div class="key-container">
      <label for="pix-key">Chave PIX</label>
      <input id="pix-key" [value]="pixInfo.qrCode" readonly class="pix-key-input"/>
      <button (click)="copyPixKey()" class="copy-btn">Copiar Chave</button>
    </div>
  </div>
