<div class="container">
    <div class="order-details">
        <div class="title">
            <h2>Finalização do Pedido</h2>
        </div>
        <div class="details-section">
            <h3>Detalhes do Pedido</h3>
            <ul>
                <li>
                    <span>Nome do Produto:</span>
                    <span class="value">Produto X</span>
                </li>
                <li>
                    <span>Quantidade:</span>
                    <span class="value">2</span>
                </li>
                <li>
                    <span>Preço Unitário:</span>
                    <span class="value">R$ 100,00</span>
                </li>
                <li>
                    <span>Total:</span>
                    <span class="value">R$ 200,00</span>
                </li>
            </ul>
        </div>
        <div class="payment-method">
            <h3>Método de Pagamento</h3>
            <ul>
                <li>
                    <input
                        type="radio"
                        id="credit-card"
                        name="payment-method"
                        value="credit-card"
                    >
                    <label for="credit-card">Cartão de Crédito</label>
                </li>
                <li>
                    <input
                        type="radio"
                        id="pix"
                        name="payment-method"
                        value="pix"
                    >
                    <label for="pix">Pix</label>
                </li>
                <li>
                    <input
                        type="radio"
                        id="fetlock"
                        name="payment-method"
                        value="fetlock"
                    >
                    <label for="fetlock">Boleto</label>
                </li>
            </ul>
        </div>
        <button class="btn">Finalizar Pedido</button>
    </div>
    <div class="product-image">
        <img src="assets/Images/yas.jpeg" alt="Produto" width="400px" height="400px">
    </div>
</div>
