<div class="container">
    <div class="right-panel">
      <h2 class="bold title">Cadastrar Usuário</h2>
      <p class="sub_title">Insira suas credenciais</p>
      <form [formGroup]="registerForm">
        <div class="input-container">
          <i class="fas fa-user"></i>
          <input formControlName="firstName" type="text" placeholder="Primeiro Nome" required>
        </div>
        <div class="input-container">
          <i class="fas fa-user"></i>
          <input formControlName="lastName" type="text" placeholder="Último Nome" required>
        </div>
        <div class="input-container">
          <i class="fas fa-envelope"></i>
          <input formControlName="email" type="email" placeholder="Email" required>
        </div>
        <div class="input-container">
          <i class="fas fa-id-card"></i>
          <input formControlName="cpf" type="text" placeholder="CPF" required>
        </div>
        <div class="input-container">
          <i class="fas fa-lock"></i>
          <input formControlName="password" type="password" placeholder="Senha" required>
        </div>
        <button (click)="onSubmit()" class="signup-btn">Cadastrar</button>
      </form>
    </div>
  </div>
  