<section class="carousel-section mb-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let promo of promos; let i = index" [class.active]="i === 0">
        <img [src]="promo.imageUrls[0]" class="d-block w-100 carousel-img" alt="Promoção">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


  <!-- Produtos em Destaque Section -->
  <section class="products-section">
    <div class="container">
      <h2>Produtos em Destaque</h2>
      <div class="row">
        <div class="col-md-3" *ngFor="let product of listProducts">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
  </section>



  <!-- Mais Vendidos Section -->
  <section class="best-sellers">
    <div class="container">
      <h2>Mais Vendidos</h2>
      <div class="row">
        <div class="col-md-3" *ngFor="let bestSeller of listProducts">
          <app-product-card [product]="bestSeller"></app-product-card>
        </div>
      </div>
    </div>
  </section>

  <ng-container *ngFor="let section of homeSections">
    <section class="category-section">
      <div class="container">
        <h2>Mais Vendidos da Semana em {{ section.title }}</h2>
        <div class="row">
          <ng-container *ngFor="let product of listProducts">
            <ng-container *ngIf="section.categoryId == product.categoryId">
              <div class="col-md-3">
                <app-product-card [product]="product"></app-product-card>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </section>
  </ng-container>