<footer class="footer bg-light">
    <div class="container">
      <div class="center1">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="footer-logo">
                    <img
                        src="assets/Images/AMS.png"
                        alt="Logo"
                        width="100"
                        height="50"
                    >
                </a>
                <h5 class="sobre-mim">Sobre Nós</h5>
                <p class="pa">Somos uma loja online dedicada a oferecer os melhores produtos com a melhor experiência de compra. Nossa missão é proporcionar qualidade e satisfação aos nossos clientes.</p>
            </div>
            <div class="col-md-4">
                <h5 class="links">Links Úteis</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="footer-link">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Termos de Serviço</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">FAQ</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="cont">Contato</h5>
                <p>
                    Email:
                    <a href="mailto:contato@AMSStore.com">contatoAMSStore.com</a>
                </p>
                <p>
                    Telefone:
                    <a href="tel:+5516988602495">(16) 98860-2495</a>
                </p>
                <div class="social-icons">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
        <div class="text-center copy">
            <p>&copy; 2024 AMS Store. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
