<div class="orders-container">
    <h1>Meus Pedidos</h1>
    
    <!-- Verifica se não há pedidos -->
    <div *ngIf="orders.length === 0" class="no-orders">
      <p>Você não tem nenhum pedido recente.</p>
    </div>
  
    <!-- Exibe cada pedido -->
    <div *ngFor="let order of orders; let i = index" class="order-card">
      <div class="order-summary">
        <span class="order-id">Pedido #{{ i + 1 }}</span>
        <span class="order-status" [ngClass]="order.status.toLowerCase()">{{ order.status }}</span>
      </div>
      
      <div class="order-details">
        <div class="order-item">
          <p><strong>Produto:</strong> {{ getProductName(order.productId) }}</p>
          <p><strong>Preço:</strong> R$ {{ getProductPrice(order.productId) | number:'1.2-2' }}</p>
          <p><strong>Endereço de Envio:</strong> {{ order.shippingAddress }}</p>
        </div>
        
        <h1 class="btn-view-details">Pago por PIX</h1>
      </div>
    </div>
  </div>
  