<div class="tela-de-perfil">
    <div class="header">
        <h2>Olá, Yasmin</h2>
    </div>
    <div class="menu-options">
        <div class="menu-item">
            <img src="assets/Images/Profile/Clipboard.svg" alt="Ícone de pedidos">
            <span>Pedidos</span>
            <img src="assets/Images/Profile/Chevron right.svg" alt="Seta" class="chevron">
        </div>
        <div class="menu-item">
            <img src="assets/Images/Profile/Credit card.svg" alt="Ícone de pagamento">
            <span>Métodos de pagamento</span>
            <img src="assets/Images/Profile/Chevron right.svg" alt="Seta" class="chevron">
        </div>
        <div class="menu-item">
            <img src="assets/Images/Profile/Info.svg" alt="Ícone sobre nós">
            <span>Sobre nós</span>
            <img src="assets/Images/Profile/Chevron right.svg" alt="Seta" class="chevron">
        </div>
    </div>
    <div class="footer">
        <div class="footer-item sair">
            <img src="assets/Images/Profile/Log out.svg" alt="Ícone de sair">
            <span>Sair</span>
        </div>
        <div class="footer-item excluir">
            <img src="assets/Images/Profile/Trash.svg" alt="Ícone de excluir">
            <span>Excluir</span>
        </div>
    </div>
</div>
